<!DOCTYPE html>

<html>

<head>
    <title>Tentang</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main-content-tentang">
            <img class="profile" src="/img/fathur1.jpg">
            <div class="text">
                <h2 align="center">MUHAMAD FATHUR RAHMAN</h2>

                <p>
                    <img src="/img/email.png" width="16px">
                    <a href="mailto:fathurrahmanmuh1@gmail.com">fathurrahmanmuh1@gmail.com</a>
                    <br>
                    <img src="/img/wa.png" width="16px">
                    <a href="https://api.whatsapp.com/send?phone=6281318778711">081318778711</a>
                    <br>
                    <img src="/img/instagram.png" width="16px">
                    <a href="https://www.instagram.com/mfathurrhn_/">Muhamad Fathur Rahman</a>
                </p>
            </div>
        </div>
        <div class="isian-bawah">
            <div class="biodata-pendidikan">

                <h2>BIODATA</h2>
                <li>
                    Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Muhamad Fathur
                    Rahman
                </li>
                <br>
                <li>
                    TTL
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    Pariaman, 03 Februari 2004
                </li>
                <br>
                <li>
                    Alamat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Jl. Limau Kunci Blok O,
                    No. 16, Lapai, Nanggalo, Padang
                </li>
                <br>
                <li>
                    Skill
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    Python, C++, Java Script, Css, Html, PHP, Node.JS, Mysql
                </li>
                <br>
                <li>
                    Hobi
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    Badminton, Renang, Game
                </li>
                <br>
                <li>
                    Pengalaman &nbsp;&nbsp;&nbsp;: Frontend di Perusahan Teskid Development
                </li>
            </div>
            <div class="keterampilan">
                <h2>PENDIDIKAN</h2>
                <li>
                    <b>UNIVERSITAS NEGERI PADANG</b>
                </li>
                <p>
                    S1 - Teknik Informatika (2021-Sekarang)
                </p>
                <li>
                    <b>SMA</b>
                </li>
                <P>
                    SMAN 2 Dumai MIPA (2019-2021)
                    <br>
                    SMAN 4 Sumbar MIPA (2018-2019)
                </p>
                <li>
                    <b>SMP</b>
                </li>
                <P>
                    SMPN 2 Dumai (2015-2018)
                </p>
            </div>
        </div>
        {{>footer}}
</body>

</html>